extends layout

block content
  div(class="grid-container grid-container__first")
    div
      p(class="team team__1 team__1--live") Team 1
    div
      p(class="score score__1 score__1--live") 0
    div
      p(class="score score__dash") -
    div
      p(class="score score__2 score__2--live") 0
    div
      p(class="team team__2 team__2--live") Team 2
  div(class="grid-container grid-container__second")
    div
    div
      p(class="shots shots__1 shots__1--live") 0
    div
      p(class="shots") TOTAL SHOTS
    div
      p(class="shots shots__2 shots__2--live") 0
    div
    div
    div
      p(class="fouls fouls__1 fouls__1--live") 0
    div
      p(class="fouls") FOULS
    div
      p(class="fouls fouls__2 fouls__2--live") 0
    div
  div(class="grid-container grid-container__third")
    div
      p(class="") REALTIME UPDATES
    div
    div(class="updateAfter updateAfter--live")